<!DOCTYPE html>
<html>
  <head>
    <title>FermentSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  <% if current_user %>
  <script>
  window.currentUser = {
    "username": "<%= current_user.username%>", 
    "email": "<%= current_user.email%>", 
    "id": "<%=current_user.id%>"
    }
    </script>
  <%end%>
  </head>

  <script>
    window.mainLogo = "<%= image_url('beers-cheers-cocktails.jpg')%>"
  </script>

  <body>
    <%= yield %>
  </body>
</html>
