<!DOCTYPE html>
<html>
  <head>
    <title>FermentSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <meta property="og:title" content="Project Title" />
      <meta property='og:image' content="<%= image_url('Splash.png') %>"/>
      <meta property="og:description"
        content="An event forum for beer lovers of all kinds"
      />
      <meta property="og:url"
        content="https://fermentsite.herokuapp.com/#/"
      />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  <% if current_user %>
  <script>
  window.currentUser = {
    "username": "<%= current_user.username%>", 
    "email": "<%= current_user.email%>", 
    "id": "<%=current_user.id%>"
    }
    </script>
  <%end%>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  
    <%= favicon_link_tag 'temp-favicon-3.png' %> 
    <script src="https://kit.fontawesome.com/538e86abf9.js" crossorigin="anonymous"></script>
  </head>

  <script>
    window.mainLogo = "<%= image_url('beers-cheers-cocktails.jpg')%>"
  </script>
 
  <body>
    <%= yield %>
  </body>
</html>
